// fonts
$font-main: 'Montserrat',
sans-serif;
$font-secondary: 'Roboto Slab',
serif;
$font-tertialy: 'Droid Serif';
$font-logo: 'Courgette',
cursive;

// font-weights
$regular: 400;
$medium: 500;
$bold: 700;

// font-styles
$italic: italic;
$normal: normal;

// colors
$color-primary: black;
$color-secondary: white;
$color-tertialy:#fed136;
$color-text:#a2a2a2;
$color-btn: #fed136;
$color-logo: #fed136;
$color-placeholder: #e7bc1d;